@charset "utf-8";

body {
    background: #000;
}
header {
    background: rgb(116, 114, 114);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
    opacity: 0.9;
}
header .inner {
    background: rgb(116, 114, 114);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
}
header .logo:hover {
    opacity: .5;
    cursor: pointer;
}
header .nav {
    transform: translateX(-60px);
    color: #fff;
}
header .nav .nav-sub {
    width: 100px;
    height: 80px;
    line-height: 80px;
}
header .login .login-sub {
    margin-right: 10px;
}
header .login {
    margin-top: -10px;
}
header .login .login-sub:hover {
    opacity: 0.5;
}
header .login .login-sub:nth-child(4) {
    margin-right: 0;
}
header .login .login-sub:nth-child(1) {
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
}
header .login .login-sub:nth-child(2),
header .login .login-sub:nth-child(3),
header .login .login-sub:nth-child(4) 
{
    font-size: 1.5rem;
    color: rgb(37, 37, 37);
}
.nav-sub-hover {
    position: absolute;
    top: 100%;
    background: #fff;
    color: #000;
    visibility: hidden;
    opacity: 0;
    transition: 300ms;
}
.nav-sub-hover li {
    display: block;
    width: 100px;
    height: 62px;
    line-height: 50px;
    font-weight: 600;
}
.nav-sub-hover li a {
    height: 62px;
    line-height: 62px;
}
.nav-sub-hover li:hover a {
    background: darkgrey;
    color: #fff;
}
.nav-sub a {
    transition: 500ms;
}
.nav-sub-hover li a img {
    width: 50px;
}
.add-img li a {
    height: 100%;
}
.add-img li a img {
    margin-top: 10px;
}
.add-img li {
    height: 62px;
}
.nav-sub:hover > a {
    opacity: 0.5;
}
.nav-sub:hover .nav-sub-hover  {
    visibility: visible;
    opacity: 1;
}
section.top {
    margin-top: 80px;
    height: 100vh;
    text-align: center;
}
.gif-img {
    max-width: 100%;
    height: 100vh;
}
.gif-img img {
    width: 100%;
    height: 100%;
}
section.top .inner {
    height: 500px;
    position: relative;
    top: -100%;
}
section.top .red-line {
    position: absolute;
    top: 12%;
    left: 10%;
    color: red;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align-last: left;
    opacity: .5;
}
section.top .red-line h3 {
    margin-bottom: 5px;
}
section.top .red-line .korea {
    margin-top: 5px;
}
section.top .red-line .newyork {
    display: inline-block;
    width: 100px;
}
section.top .red-line .newyork:before {
    content: '';
    position: absolute;
    top: 33%;
    left: 0;
    height: 3px;
    width: 130px;
    background: red;
}
section.top .red-line .korea:before {
    content: '';
    position: absolute;
    top: 66%;
    left: 0;
    height: 3px;
    width: 248px;
    background: red;
}
section.top .red-line i {
    font-size: 1.5rem;
    font-weight: 600;
    display: inline-block;
}

section.top .title-box {
    position: absolute;
    top: 55%;
    left: 10%;
    color: #fff;
    font-size: 7rem;
    text-transform: uppercase;
}
section.top .title-box h1 {
    opacity: 0.3;
}
section.style {
    margin-top: 100px;
}
section.style .inner {
    position: relative;
    background: #000;
}
.style-title-box {
    /* margin-left: 65px; */
    text-align: left;
    margin-top: 10px;
    font-size: 2rem;
    color: #fff;
}
.style-photo-box {
    margin-top: 10px;
}
.style-photo-box-sub {
    padding: 1rem;
}
.style-photo-box-sub-title {
    text-align: left;
    font-size: 1.5rem;
    color: #fff;
}
.line1:before {
    content: '';
    position: absolute;
    top: 12%;
    left: 8%;
    height: 3px;
    width: 250px;
    background: #fff;
}
.line2:before {
    content: '';
    position: absolute;
    top: 12%;
    left: 37%;
    height: 3px;
    width: 250px;
    background: #fff;
}
.line3:before {
    content: '';
    position: absolute;
    top: 12%;
    left: 67%;
    height: 3px;
    width: 250px;
    background: #fff;
}
.line4:before {
    content: '';
    position: absolute;
    top: 56.5%;
    left: 8%;
    height: 3px;
    width: 250px;
    background: #fff;
}
.line5:before {
    content: '';
    position: absolute;
    top: 56.5%;
    left: 37%;
    height: 3px;
    width: 250px;
    background: #fff;
}
.line6:before {
    content: '';
    position: absolute;
    top: 56.5%;
    left: 67%;
    height: 3px;
    width: 250px;
    background: #fff;
}
.style-photo-box-sub-title:nth-child(3):before {
    content: '';
    position: absolute;
    top: 12%;
    left: 37%;
    height: 3px;
    width: 250px;
    background: #fff;
}
.style-photo-box-sub-title h5 {
    margin-bottom: 5px;
    font-weight: 400;
}
.style-photo-box-sub-img img {
    width: 250px;
    height: 242px;
}
section.popular {
    margin-top: 100px;
    color: #fff;
}
section.popular .inner {
    background: #000;
    position: relative;
}
section.popular .popular-title-box {
    text-align: left;
    margin-top: 10px;
    font-size: 2rem;
    margin-left: -3px;
}
section.popular .popular-title-box:before {
    content: '';
    position: absolute;
    top: 5%;
    left: 0;
    width: 170px;
    height: 3px;
    background: white;
}
section.popular .popular-box {
    margin-top: 30px;
}
.popular-box-sub:hover:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(80, 80, 80, 0.5);
}
.popular-box-sub {
    position: relative;
    cursor: pointer;
}
section.popular .popular-box-sub {

    max-width: 320px;
    height: 480px;
}
section.popular .popular-box-sub img {
    width: 100%;
    height: 100%;
}
.popular-box-sub h3 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 300ms;
    visibility: hidden;
}
.popular-box-sub:hover h3 {
    top: 40%;
    opacity: 0.9;
    visibility: visible;
}
.popular-box-sub p {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    opacity: 0;
    transition: 300ms;
    visibility: hidden;
}
.popular-box-sub:hover p {
    bottom: 45%;
    opacity: 0.9;
    visibility: visible;
}
section.news {
    margin-top: 100px;
    color: #fff;
    background: #000;
}
section.news .inner {
    position: relative;
}
.news-title-box {
    text-align: left;
    margin-top: 10px;
    font-size: 2rem;
    margin-left: -3px;
}
section.news .news-title-box:before {
    content: '';
    position: absolute;
    top: 9%;
    left: 0;
    width: 170px;
    height: 3px;
    background: white;
}
.news-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.news-main-content {
    cursor: pointer;
    margin-right: 50px;
}
.news-main-content img {
    width: 100%;
}
.news-main-content p {
    margin-bottom: 20px;
    text-align: left;
}
.news-sub {
    cursor: pointer;
}
.news-sub-first {
    display: flex;
}
.news-sub-second {
    display: flex;
}
.news-sub-img {
    /* margin: 20px; */
}
.news-sub-img h5 {
    font-size: 1rem;
    margin-bottom: 5px;
}
.news-sub-content {
    padding: 1rem;
}
.news-sub-img p {
    font-size: 14px;
    color: rgb(116, 114, 114);
}
.news-sub-img img {
    margin-bottom: 10px;
    width: 70%;
}
section.designer {
    margin-top: 100px;
    color: #fff;
    background: #000;
}
section.designer .inner {
    position: relative;
}
.designer-title-box {
    text-align: left;
    margin-top: 10px;
    font-size: 2rem;
    margin-left: -3px;
}
section.designer .designer-title-box:before {
    content: '';
    position: absolute;
    top:14%;
    left: 0;
    width: 170px;
    height: 3px;
    background: white;
}
.designer-box {
    display: flex;
}
.designer-box {
    margin-top: 40px;
}
.designer-box .designer-box-sub {
    padding: 1rem;
    background-image: url(../img/ffe2766617079690711101499ce19ccc.jpg);
    color: #000;
    cursor: pointer;
}
.designer-box .designer-box-sub:nth-child(1) img,
.designer-box .designer-box-sub:nth-child(2) img, 
.designer-box .designer-box-sub:nth-child(3) img
{
    width: 250px;
    height: 340px;
}
.designer-box .designer-box-sub:nth-child(1) img,
.designer-box .designer-box-sub:nth-child(2) img {
    transform: translate(7px);
}
.designer-box-sub h2 {
    font-family: Times;
    font-weight: 100;
} 
.designer-box-sub-content {
    text-align: left;
}
.designer-box-sub-content h2 {
    margin-bottom: 5px;
    font-weight: 600;
    opacity: .8;
}
.designer-box-sub-content p {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    opacity: .8;
}
.designer-box-sub img {
    position: relative;
    top: 5%;
    left: 10.5%;
}
.designer-box-sub:nth-child(3) img {
    left: 13%;
}
footer {
    margin: 70px 0 50px 0;
    padding: 5rem;
    color: #fff;
    background: #000;
    height: 100px;
}
footer .inner {
    position: relative;
    border: 3px solid red;
    border-right: none;
    border-left: none;
    border-bottom: none;
}
footer .inner .information {
    display: inline-block;
    color: #777;
    font-size: 12px;
    margin-left: -20px;
    margin-top: 30px;
}
footer .inner .owner {
    margin-bottom: 10px;
    position: relative;
}
footer .inner .owner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 64%;
    width: 1px;
    height: 13px;
    background: #777;
}
footer .inner address {
    margin-bottom: 10px;
}
footer .inner .sns {
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}
.circle {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #999;
    opacity: .5;
    position: absolute;
    top: 34px;
    left: 73.4%;
}
